<app-header title="Cupones" [mostrarBtnModal]="false" [showLogout]="false"></app-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item lines="none">
      <ion-icon name="information-circle-outline" size="large" color="primary"></ion-icon>
      <p style="margin-left: 10px; font-size: 17px;"><strong>Cupones para tí</strong></p>
    </ion-item>
    <ion-item>
      <div class="ticket-card">
        <div class="ticket-profile">
          <ion-avatar>
            <img
            src="../../assets/icon/logop.png"
            alt="madflows"
            class="ticket-profile_image"
          />
          </ion-avatar>
          <div class="ticket-profile_text">
            <p class="ticket-profile_name">SUMMER10</p>
          </div>
        </div>
        <div class="ticket-contens">
          <ion-icon name="sparkles" color="primary" class="iconStarts"></ion-icon>
          <p><strong>10% de descuento en productos de verano</strong></p>
        </div>
          <ion-button expand="block" mode="ios" class="btnCopy">Copiar Código</ion-button>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
 <!--- <ion-list lines="none">
    <ion-item lines="none">
      <p style="font-size: 18px;"><strong>Cupones para tí</strong></p>
    </ion-item>
    <ion-item>
      <ion-card class="ticket-card">
        <ion-card-header>
          <ion-card-title><strong>🎟️SUMMER10</strong></ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <div class="ticket-content">
            <ion-icon name="sparkles" color="primary"></ion-icon>
            <p><strong>10% de descuento en productos de verano</strong></p>
          </div>
        </ion-card-content>
        <ion-button expand="block" mode="ios">Copiar código</ion-button>
      </ion-card>
    </ion-item>
    <ion-item>
      <ion-card class="ticket-card">
        <ion-card-header>
          <ion-card-title><strong>🎟️SUMMER10</strong></ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <div class="ticket-content">
            <ion-icon name="sparkles" color="primary"></ion-icon>
            <p><strong>10% de descuento en productos de verano</strong></p>
          </div>
        </ion-card-content>
        <ion-button expand="block" mode="ios">Copiar código</ion-button>
      </ion-card>
    </ion-item>
    <ion-item>
      <ion-card class="ticket-card">
        <ion-card-header>
          <ion-card-title><strong>🎟️SUMMER10</strong></ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <div class="ticket-content">
            <ion-icon name="sparkles" color="primary"></ion-icon>
            <p><strong>10% de descuento en productos de verano</strong></p>
          </div>
        </ion-card-content>
        <ion-button expand="block" mode="ios">Copiar código</ion-button>
      </ion-card>
    </ion-item>
  </ion-list>-->