<ion-header class="ion-no-border" mode="md">
    <ion-toolbar color="primary">
      <ion-buttons slot="start" *ngIf="mostrar">
        <ion-back-button default-href="#"></ion-back-button>
      </ion-buttons>

      <ion-title>
        <strong>{{title}}</strong>
        <div class="nombreEmpresa">
          El Fortin Panaderia
        </div>
      </ion-title>

      <ion-buttons slot="primary" *ngIf="showLogout">
        <ion-button (click)="confirmLogout()">
          <ion-icon slot="icon-only" ios="log-out-outline" md="log-out-outline"></ion-icon>
        </ion-button>
      </ion-buttons>

      <ion-buttons slot="end" *ngIf="mostrarBtnModal">
        <ion-button (click)="closeModal($event)">
          <ion-icon slot="icon-only" name="close-circle-outline" size="large"></ion-icon>
        </ion-button>
      </ion-buttons>

     <!--- <div class="logo-container" slot="end">
        <ion-avatar>
          <img src="../../../assets/icon/logop.png" />
        </ion-avatar>
      </div>-->
    </ion-toolbar>
  </ion-header>