 <app-header [showLogout]="false" title="Iniciar Sesión" [mostrar]="false" [mostrarBtnModal]="false"></app-header>
<ion-content>
    <app-logo imagen="../../../assets/icon/logop.png"></app-logo>

    <form [formGroup]="form" (ngSubmit)="login()">

        <app-custom-input
        autocomplete="email"
        icon="mail"
        [control]="form.controls.email"
        type="email"
        label="Correo"
        [errorText]="getErrorMessage('email')"
        ></app-custom-input>

        <app-custom-input
        [control]="form.controls.password"
        type="password"
        label="Contraseña"
        [errorText]="getErrorMessage('password')"
        [eyeToggle]="true"
        [iconInput]="false"
        ></app-custom-input>

        <ion-button expand="block" mode="ios" class="submit" type="submit" [disabled]="form.invalid">
            Iniciar Sesión
            <ion-icon name="log-in-outline" slot="end"></ion-icon>
        </ion-button>

        <ion-button expand="block"  fill="outline" mode="ios" class="sing-up" routerLink="/cart">
            Crear Cuenta
            <ion-icon name="person-add-outline" slot="end"></ion-icon>
        </ion-button>
    </form>
</ion-content>
