<app-header [title]="title" [showLogout]="false" [mostrar]="false"></app-header>

<ion-content>
  <ion-searchbar placeholder="Search" clear-icon="trash-bin"  (ionInput)="searchProduct($event)"></ion-searchbar>
  <ion-list>
    <app-item-product 
    *ngFor="let producto of productosFiltrados" 
     [producto]="producto" (productSelected)="goToDetail($event)">
   </app-item-product>
  </ion-list>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end" class="buttonFab">
    <ion-fab-button (click)="openCart($event)">
      <ion-icon name="cart"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>