<ion-list>
  <ion-item lines="full" button lines="none">
    <ion-thumbnail slot="start">
      <img [src]="image" />
    </ion-thumbnail>
    <ion-label>
      <strong><h2>{{title}}</h2></strong>
      <p>{{description}}</p>
      <strong><p>$ {{price}}</p></strong>
    </ion-label>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="heart-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>
</ion-list>