<app-header title="Mi Carrito" [mostrarBtnModal]="false"></app-header>
<ion-content>
  <ng-container *ngIf="cart.length > 0; else emptyCart">
    <app-item-option [cartProdut]="cart"></app-item-option>
  </ng-container>

  <ng-template #emptyCart>
    <div class="empty-cart">
      <ion-icon name="cart-outline" class="warning-icon"></ion-icon>
      <p> <strong>¡El carrito esta vacio!</strong> </p>
    </div>
  </ng-template>
</ion-content>

<!-- Sección fija del total y checkout -->
<ion-footer class="checkout-footer">
  <div class="promo-section">
    <ion-chip  class="promo-chip">
      <ion-input label="Código:" placeholder="FHSGZWEYRED3"></ion-input>
      <ion-button mode="ios" class="buttonPromotion">Ver códigos</ion-button>
    </ion-chip>
  </div>

  <ion-list>
    <ion-item lines="none" class="custom-item">
      <ion-label>Subtotal</ion-label>
      <ion-note class="custom-note" slot="end"><strong>$92.00</strong></ion-note>
    </ion-item>
    <ion-item class="custom-item">
      <ion-label>Descuento</ion-label>
      <ion-note class="custom-note discount" slot="end"><strong>-$92.00</strong></ion-note>
    </ion-item>
    <ion-item lines="none" class="custom-item">
      <ion-label>Costo Total</ion-label>
      <ion-note class="custom-note total" slot="end"><strong>$92.00</strong></ion-note>
    </ion-item>
  </ion-list>

  <ion-button expand="block" (click)="checkout()" mode="ios">Proceder al pago</ion-button>
</ion-footer>