<ion-item class="custom-input" lines="none"> 

  <ion-input  
  [type]="type"
  [autocomplete]="autocomplete"
  [label]="label"
  [formControl]="control"
  label-placement="floating"
  fill="outline"
  class="inputs"
  [errorText]="errorText"
  >
  <ion-input-password-toggle slot="end" *ngIf="eyeToggle"></ion-input-password-toggle>
  <ion-button fill="clear" slot="end" aria-label="Show/hide" *ngIf="iconInput">
    <ion-icon slot="icon-only" [name]="icon" *ngIf="icon"></ion-icon>
  </ion-button>
  </ion-input>
</ion-item>