:root {
	--ion-color-primary: #99582a;
	--ion-color-primary-rgb: 153,88,42;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 255,255,255;
	--ion-color-primary-shade: #874d25;
	--ion-color-primary-tint: #a3693f;

	--ion-color-secondary: #6f1d1b;
	--ion-color-secondary-rgb: 111,29,27;
	--ion-color-secondary-contrast: #ffffff;
	--ion-color-secondary-contrast-rgb: 255,255,255;
	--ion-color-secondary-shade: #621a18;
	--ion-color-secondary-tint: #7d3432;

	--ion-color-tertiary: #ffb400;
	--ion-color-tertiary-rgb: 255,180,0;
	--ion-color-tertiary-contrast: #000000;
	--ion-color-tertiary-contrast-rgb: 0,0,0;
	--ion-color-tertiary-shade: #e09e00;
	--ion-color-tertiary-tint: #ffbc1a;

	--ion-color-success: #bb9457;
	--ion-color-success-rgb: 187,148,87;
	--ion-color-success-contrast: #ffffff;
	--ion-color-success-contrast-rgb: 0,0,0;
	--ion-color-success-shade: #a5824d;
	--ion-color-success-tint: #c29f68;

	--ion-color-warning: #ffc107;
	--ion-color-warning-rgb: 255,193,7;
	--ion-color-warning-contrast: #000000;
	--ion-color-warning-contrast-rgb: 0,0,0;
	--ion-color-warning-shade: #e0aa06;
	--ion-color-warning-tint: #ffc720;

	--ion-color-danger: #dc3545;
	--ion-color-danger-rgb: 220,53,69;
	--ion-color-danger-contrast: #000000;
	--ion-color-danger-contrast-rgb: 0,0,0;
	--ion-color-danger-shade: #c22f3d;
	--ion-color-danger-tint: #e04958;

	--ion-color-light: #ffe6a7;
	--ion-color-light-rgb: 255,230,167;
	--ion-color-light-contrast: #000000;
	--ion-color-light-contrast-rgb: 0,0,0;
	--ion-color-light-shade: #e0ca93;
	--ion-color-light-tint: #ffe9b0;

	--ion-color-medium: #A18760;
	--ion-color-medium-rgb: 161,135,96;
	--ion-color-medium-contrast: #000000;
	--ion-color-medium-contrast-rgb: 0,0,0;
	--ion-color-medium-shade: #8e7754;
	--ion-color-medium-tint: #aa9370;

	--ion-color-dark: #432818;
	--ion-color-dark-rgb: 67,40,24;
	--ion-color-dark-contrast: #ffffff;
	--ion-color-dark-contrast-rgb: 255,255,255;
	--ion-color-dark-shade: #3b2315;
	--ion-color-dark-tint: #563e2f;

}