<ion-content>
  <ion-tabs>
    <ion-tab tab="home">
        <app-header title="Inicio"></app-header>
        <ion-content>
          <app-fab-button-cart></app-fab-button-cart>
          <app-item-product></app-item-product>
        </ion-content>
    </ion-tab>

    <ion-tab tab="menu">
        <app-header title="Servicios"></app-header>
        <ion-content>
          <app-fab-button-cart></app-fab-button-cart>
        </ion-content>
    </ion-tab>

    <ion-tab tab="favorites">
        <app-header title="Favoritos"></app-header>
        <ion-content>
          <app-fab-button-cart></app-fab-button-cart>
          <app-item-product></app-item-product>
        </ion-content>
    </ion-tab>

    <ion-tab tab="account">
        <app-header title="Perfil"></app-header>
        <ion-content>
          <app-fab-button-cart></app-fab-button-cart>
        </ion-content>
    </ion-tab>
    

    <ion-tab-bar slot="bottom" color="primary">
      <ion-tab-button tab="home">
        <ion-icon name="home"></ion-icon>
        Inicio
      </ion-tab-button>
      <ion-tab-button tab="menu">
        <ion-icon name="storefront"></ion-icon>
        Servicios
      </ion-tab-button>
      <ion-tab-button tab="favorites">
        <ion-icon name="heart"></ion-icon>
        Favoritos
      </ion-tab-button>
      <ion-tab-button tab="account">
        <ion-icon name="person-circle"></ion-icon>
        Perfil
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
