<ion-content fullscreen="true">
  <ion-tabs>
    <ion-fab slot="fixed" vertical="bottom" horizontal="end" class="buttonFab">
      <!-- Botón principal que activa el menú FAB -->
      <ion-fab-button (click)="toggleFab()">
        <ion-icon name="cart"></ion-icon>
      </ion-fab-button>
  
      <!-- Menú FAB, visible cuando `fabOpen` es true -->
      <ion-fab-list side="top" *ngIf="fabOpen">
        <ion-fab-button>
          <ion-icon name="cart" routerLink="/cart"></ion-icon>
        </ion-fab-button>
        <ion-fab-button>
          <ion-icon name="clipboard" routerLink="/orders"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab>

    <ion-tab tab="home">
        <app-header title="Inicio" [mostrar]="false" [mostrarBtnModal]="false"></app-header>
        <ion-content>
         <ion-item lines="none">
          <ion-searchbar placeholder="Buscar producto" clear-icon="trash-bin"  (ionInput)="searchProduct($event)"></ion-searchbar>  
         </ion-item>
          <ion-card class="cardPromotion">
            <div class="carousel">
              <div class="slides" [style.transform]="'translateX(-' + currentIndex * 100 + '%)'">
                <div *ngFor="let image of images" class="slide">
                  <img [src]="image" alt="Slide" loading="lazy">
                </div>
              </div>
            </div>
          </ion-card>

          <ion-item lines="none">
            <ion-label>
              <h3><strong>Mejores Productos</strong></h3>
            </ion-label>
          </ion-item>
          <app-item-product 
           *ngFor="let producto of productosFiltrados" 
            [producto]="producto" (productSelected)="goToDetail($event)">
          </app-item-product>
        </ion-content>
    </ion-tab>

    <ion-tab tab="menu">
        <app-header title="Servicios" [mostrar]="false" [mostrarBtnModal]="false"></app-header>
        <ion-content>
          <app-layout>
            <ion-card>
              <img alt="Silhouette of mountains" src="../../assets/icon/pizza.png"/>
              <ion-card-header>
                <ion-card-title>Restaurante</ion-card-title>
              </ion-card-header>
              <ion-button fill="clear" (click)="openModal(titleRestaurant, productosFiltrados)">Ver más</ion-button>
            </ion-card>
            <ion-card>
              <img alt="Silhouette of mountains" src="../../assets/icon/bebida.png"/>
              <ion-card-header>
                <ion-card-title>Bebidas</ion-card-title>
              </ion-card-header>
              <ion-button fill="clear" (click)="openModal(titleDrink, productosFiltrados)" title="Bebidas">Ver más</ion-button>
            </ion-card>
            <ion-card>
              <img alt="Silhouette of mountains" src="../../assets/icon/panaderia.png"/>
              <ion-card-header>
                <ion-card-title>Panaderia</ion-card-title>
              </ion-card-header>
              <ion-button fill="clear" (click)="openModal(titleBread, productosFiltrados)" title="Panaderia">Ver más</ion-button>
            </ion-card>
          </app-layout>
        </ion-content>
    </ion-tab>

    <ion-tab tab="favorites">
      <app-header title="Favoritos" [mostrar]="false" [mostrarBtnModal]="false"></app-header>
  <ion-content>
    <ion-list *ngIf="favoritos.length > 0; else noFavoritos">
      <app-item-product 
        *ngFor="let producto of favoritos" 
        [producto]="producto" >
      </app-item-product>
    </ion-list>

    <ng-template #noFavoritos>
      <div class="empty-favorites">
        <ion-icon name="alert-circle-outline" class="warning-icon"></ion-icon>
        <p>No hay productos en favoritos. Agrega algunos productos.</p>
      </div>
    </ng-template>
  </ion-content>
    </ion-tab>
    
    

    <ion-tab tab="account">
        <app-header title="Perfil" [mostrar]="false" [mostrarBtnModal]="false"></app-header>
        <ion-content>
          <form [formGroup]="userForm">
            <div class="contenidoImagen">
              <ion-avatar class="profile-avatar">
                <img alt="Silhouette of a person's head" [src]="profileImage" />
                <ion-fab  class="fab-custom-position" vertical="bottom" horizontal="end">
                  <ion-fab-button color="success" (click)="takePhoto()">
                    <ion-icon name="camera-outline" color="dark"></ion-icon>
                  </ion-fab-button>
                </ion-fab>  
              </ion-avatar>
            </div>
            <ion-card>
              <ion-card-header>
                <ion-card-title style="text-align: center;">
                  <strong>Datos Personales</strong>
                </ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ion-list lines="full">
                  <ion-item>
                    <app-custom-input
                    icon="person"
                    [control]="userForm.controls.names"
                    type="text"
                    label="Nombres"
                    [errorText]="getErrorMessage('names')">
                  </app-custom-input>
                  </ion-item>
                  <ion-item>
                    <ion-label position="floating">Apellidos</ion-label>
                    <ion-input type="text" required></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label position="floating">Correo Electrónico</ion-label>
                    <ion-input type="email" required></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label position="floating">Teléfono</ion-label>
                    <ion-input type="tel"></ion-input>
                  </ion-item>
                </ion-list>
                <ion-button expand="block" type="submit" class="ion-margin-top">Guardar Cambios</ion-button>
              </ion-card-content>
            </ion-card>
          
            <ion-note class="ion-padding">
              Asegúrate de revisar tus datos antes de guardarlos. Todos los campos marcados con * son obligatorios.
            </ion-note>
          </form>
        </ion-content>
    </ion-tab>
    

    <ion-tab-bar slot="bottom" color="primary">
      <ion-tab-button tab="home">
        <ion-icon name="home"></ion-icon>
        Inicio
      </ion-tab-button>
      <ion-tab-button tab="menu">
        <ion-icon name="storefront"></ion-icon>
        Servicios
      </ion-tab-button>
      <ion-tab-button tab="favorites">
        <ion-icon name="heart"></ion-icon>
        Favoritos
      </ion-tab-button>
      <ion-tab-button tab="account">
        <ion-icon name="person-circle"></ion-icon>
        Perfil
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
